@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Roboto');
/**
font-family: 'Roboto', sans-serif;
        font-family: 'Fjalla One', sans-serif;
*/

*{
    margin:0;
    padding:0;
    outline:0px;
}

html,body{
    height: 100%;
}

html{

    background-image:url("../../../assets/img/dashboard-wallpaper.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-color:#151515;

}

main{
    padding:5%;
}

[data-role="media"]{
    width:40%;
    float:left;
}